* {
  font-family: var(--FF-P);
}

.forgotPassword_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  min-width: 100vh;
}

.forgotPassword_main article {
  max-width: clamp(45ch, 30%, 75ch);
  font-size: 0.875rem;
  margin: 5px 0;
  text-align: center;
}

.forgotPassword_main article span {
  font-weight: 600;
}

.forgotPassword_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0;
  min-height: 120px;
}

.forgotPasswordInfo_div {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotPasswordInfo_div > p {
  margin: 10px 0;
 text-align: start;
}

.forgotPassword_section a {
  font-weight: 600;
  font-size: 0.875rem;
  color: #000;
  min-width: inherit;
}
.forgotPassword_section p {
  text-align: center;
}

.forgotPassword_div label {
  font-weight: 600;
}

.forgotPassword_div input {
  padding: 0 5px;
  border: 0.1px solid hsla(0, 0%, 0%, 0.4);
  border-radius: 5px;
  min-height: 2rem;
  width: 20rem;
  box-shadow: 0 1px 1px 0 var(--COLOR-TEXT-SHADOW);
  text-align: center;
  font-size: 0.875rem;
  line-height: 100%;
  padding-top: 5px;
}

.forgotPassword_div input:focus {
  scale: 1.05;
  transition: scale 0.15s ease-in-out;
}

.forgotPassword_footer {
  display: flex;
  min-height: 20vh;
  color: #fff;
}

.forgotPassword_footer > article {
  min-height: 12vh;
  align-self: end;
}

.forgotPassword_div button {
  margin: 12px 0;
  font-family: var(--FF-T);
  width: clamp(90px, 8vw, 150px);
  height: 5vh;
  font-size: 0.875rem;
  font-weight: 800;
  border-radius: 8px;
  border: none;
  background-color: #00408a;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 4px 0 var(--COLOR-TEXT-SHADOW);
  cursor: pointer;
  text-wrap: nowrap;
}
