@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/bogle");

:root {
  /* FONTS */
  --FF-P: "Bogle";
  --FF-S: "Playfair Display";
  --FF-T: "Quicksand";

  /* COLORS */
  --COLOR-P: #000;
  --COLOR-S: #fff;
  --COLOR-T: #034694;
  --COLOR-T2: #00408a;
  --COLOR-TEXT-SHADOW: #00000040;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingPage {
  font-family: var(--FF-S);
  background-color: var(--COLOR-T);
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr, 1fr;
}

.landingPage_content {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 67%;
}

.landingPage_title {
  font-family: var(--FF-S), serif;
  font-size: 8rem;
  color: var(--COLOR-S);
  text-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25);
  text-align: start;
}

.landingPage_tagLine {
  font-family: var(--FF-S), serif;
  width: clamp(20vw, 100%, 75ch);
  text-wrap: wrap;
}

.landingPage_introduction {
  padding:10px 0;
}

.landingPage_tagLine {
  color: var(--COLOR-S);
  font-size: 1.125rem;
  text-shadow: 0 4px 4px var(--COLOR-TEXT-SHADOW);
}

.landingPage_div {
  margin-top: 7.5%;
}

.landingPage_a {
  font-family: var(--FF-T), serif;
  color: var(--COLOR-T);
  background-color: var(--COLOR-S);
  width: fit-content;
  padding: 1.1%;
  border: 1px solid #1961b5;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: bolder;
  box-shadow: 0 4px 4px 0 var(--COLOR-TEXT-SHADOW);
  transition: all 0.125s ease-in-out;
}

.landingPage_a:hover {
  background-color: transparent;
  color: var(--COLOR-S);
}

.landingPage_image {
  grid-column: 2 / 3;
  background-image: url("/src/assets/images/WEEE.jpg");
  background-position: center;
  /* background-size: cover; */
  mix-blend-mode: hard-light;
  filter: blur(1.5px);
  
}

@media (max-width: 720px) {
  .landingPage_image {
    display: none;
  }

  .landingPage_content {
    background-image: url("/src/assets/images/WEEE.jpg");
    background-position: center;
    background-size: cover;
    /* mix-blend-mode: hard-light; */
    /* filter: blur(1.5px); */
  }

  .landingPage_introduction {
    background-color: hsla(212, 100%, 27%, 0.007);
    backdrop-filter: blur(4px);
    box-shadow: 4px 4px 4px -4px black;
    padding: 1rem;
    border-radius: 4px;
  }

  .landingPage_tagLine {
    font-weight: 800;
  }

  .landingPage_div {
    display: flex;
    justify-content: center;
  }
}
