main {
    min-height: 80vh;
}
footer {
    min-height: 20vh;
    display: flex;
    align-items: end;
}

label {
    font-size: 0.875rem;
}

.resetPasswordForm_input {
    margin: 12px 0;
}

.buttonDiv {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}