.signupPage {
  height: 100vh;
  font-family: var(--FF-P);
}

.signupPage_main {
  height: 80%;
}

.signupPage_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--COLOR-T);
  font-size: 64px;
  padding-top: 3vh;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

#newUserForm {
  margin-top: 1.67vh;
}

#newUserForm label {
  font-size: 12px;
  font-weight: 600;
  padding-left: 4px;
}

#newUserForm input {
  padding: 0 5px;
  border: 0.1px solid hsla(0, 0%, 0%, 0.4);
  border-radius: 4px;
  min-height: 4vh;
  min-width: 20vw;
  box-shadow: 0 1px 1px 0 var(--COLOR-TEXT-SHADOW);
}

.newUserForm_names,
.newUserForm_credentials,
.newUserForm_secrets {
  display: flex;
}
.newUserForm_credentials,
.newUserForm_secrets {
  margin-top: 1.67vh;
}

.newUserForm_input {
  margin: 0 1.67vw;
}

.isUsernameValid {
  display: flex;
  justify-content: space-between;
}

.validUsername,
.invalidUsername {
  margin-right: 4px;
}

.passwordRules {
  padding-top: 2.8vh;
  font-size: 14px;
  font-weight: 600;
}

.passwordInstructions {
  margin-right: 20px;
  font-size: 12px;
}

.rulesAndErrors {
  display: grid;
  gap: 12px;
  grid-template-columns: 50%, 50%;
  grid-template-rows: 100%;
  max-width: 40vw;
  min-width: 40vw;
}

.rules_article {
  grid-column: 1/2;
  max-width: 20vw;
}

.error_div {
  padding-top: 2.8vh;
  grid-column: 2/3;
  max-width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.errorMsg {
  font-size: 12px;
}

.ssoServices {
  margin: 1.5vh 0;
  width: 21vw;
  display: flex;
  justify-content: space-evenly;
}

.alreadySignedUp {
  font-weight: 500;
  font-size: 14px;
}

.login_redirect {
  text-decoration: underline;
  color: var(--FF-P);
  font-weight: 600;
}

.signupPage_footer {
  max-width: 100vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.termsAndConditions span {
  text-decoration: underline;
  font-weight: 600;
}

.signupPage_footer {
  height: 20%;
}

.footer_content {
  height: 12vh;
  background-color: #00408a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  width: 100%;
}
