.buttonAndError {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitNewUser {
    font-family: var(--FF-T);
    width: 24vw;
    height: 5vh;
    font-size: 16px;
    font-weight: 800;
    border-radius: 8px;
    border: none;
    background-color: #00408a;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 4px 0 var(--COLOR-TEXT-SHADOW);
}

button:disabled {
    background-color: gray;
}

.loginUser {
    font-family: var(--FF-T);
    width: 8vw;
    height: 5vh;
    font-size: 16px;
    font-weight: 800;
    border-radius: 8px;
    border: none;
    background-color: #00408a;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 4px 0 var(--COLOR-TEXT-SHADOW);
}

.submitNewUser:hover,
.loginUser:hover {
    cursor: pointer;
}

.button_div {
    margin-top: 2.5vh;
}
